/* Box-sizing property allows us to include the padding and border in an element's total width and height. */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gulzar', serif;
}

/* Top nav color to match background */
#container {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* Top nav positions (right to left) */
nav p {
    flex-shrink: 1;
    font-size: 24px;
    display: flex;
    margin: 24px 40px;
    padding-right: 24px;
}

/* top nav positions (up and down) */
nav {
    display: flex;
}

/* Top nav margin and sizing (all-around) */
#container > a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    align-self: center;
    padding-left: 24px;
    margin: 0 24px;
}

/* Top img width and height */
#cover img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

/* Centered the texts within the img */
.cover-text p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 105px;
  }

  /* centers the ticket section */
.flex-container {
    display: flex;
  }

  /* centers the ticket section */
.flex-left {
    background-color: #f1f1f1;
    flex: 20%;
    background-color: white;
  }

  /* aligns the ticket section vertically */
#ticket {
    display: flex;
    flex-direction: column;
    flex: 40%;
}

  /* centers the ticket section */
.flex-right {
    background-color: #f1f1f1;
    flex: 20%;
    background-color: white;
  }

#ticket ol {
    display: flex;
    border-top: 1px solid black;
}

#ticket li {
    display: flex;
    padding: 20px;
    border-left: none;
    border-right: none;
    flex-direction: column;
    font-size: 10px;
}

.row p > #ticket {
    display: flex;
    flex-direction: column;
}

#ticket button {
    display: inline-block;
    background-color: rgb(246, 186, 76);
    color: white;
    margin-top: 75px;
    margin-left: 100px;
    padding: 14px;
    text-align: right;
}

#ticket img {
    padding-top: 35px;
    width: 200px;
    height: 150px;
}

#footer {
    display: flex;
}

#footer img {
    width: 20%;
    padding: 20px;
    background-color: black;
}

#footer table {
    background-color: black;
    color: white;
}

#footer th, tr {
    text-align: left;
    padding-top: 10px;
}

#footer td {
    font-size: 8px;
}