/* Box-sizing property allows us to include the padding and border in an element's total width and height. */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gulzar', serif;
}

/* Top nav color to match background */
#container {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* Top nav positions (right to left) */
nav p {
    flex-shrink: 1;
    font-size: 24px;
    display: flex;
    margin: 24px 40px;
    padding-right: 24px;
}

/* top nav positions (up and down) */
nav {
    display: flex;
}

/* Top nav margin and sizing (all-around) */
#container > a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    align-self: center;
    padding-left: 24px;
    margin: 0 24px;
}

/* Top img width and height */
#cover img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
}

/* Centered the texts within the img */
.cover-text p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 105px;
  }

  /* centers the ticket section */
.flex-container {
    display: flex;
  }

  /* centers the ticket section */
.flex-left {
    background-color: #f1f1f1;
    flex: 20%;
    background-color: white;
  }

  /* aligns the ticket section vertically */
#ticket {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

  /* centers the ticket section */
.flex-right {
    background-color: #f1f1f1;
    flex: 20%;
    background-color: white;
  }

/* replicating border-line in ticketing section */
#ticket ol {
    display: flex;
    border-top: 1px rgb(197, 197, 200) solid;
    margin-bottom: 20px;
}

/* Ticketing information about the show */
#ticket li {
    display: flex;
    padding: 20px;
    margin-top: 12px;
    flex-direction: column;
    font-size: 10px;
    line-height: 30px;
}

/* Build & Position the "read more" button */
#ticket button {
    display: inline-block;
    background-color: rgb(246, 186, 76);
    color: white;
    margin: 60px 0 0 35px;
    padding: 14px;
}

/* Positing and resizing the show image */
#ticket img {
    padding-top: 35px;
    width: 200px;
    height: 150px;
}

#footer {
    display: flex;
}

/* unable to figure out how to bring rows closer together */
#footer table {
    background-color: black;
    color: white;
    width: 80%;
    padding: 10px 20px;
}

#footer tr {
    text-align: left;
}

#footer td {
    font-size: 8px;
}

/* unable to figure out how to minimize the img. Tried display block and inline-block too. */
#footer img {
    width: 20%;
    margin: 0;
    padding: 0;
}